<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.username}", user %></td>
        <td class="profile_image_thumb"><%= image_tag user.user_image.thumb %></td>
      </tr>
    <% end %>
  </tbody>
</table>